{% extends "base.html" %} {% block title %} Admin Points {% endblock %} 

{% block content%}

<form method="POST">
    <h3 align="center">Adaugare Puncte</h3>
    <div class="form-group">
      <label for="text">Numele Echipei</label>
      <input
        type="text"
        class="form-control"
        id="team_name"
        name="team_name"
        placeholder="Nume Echipa"
      />
    </div>
    <div class="form-group">
      <label for="text">Nr Puncte</label>
      <input
        type="text"
        class="form-control"
        id="nr_points"
        name="nr_points"
        placeholder="Nr Puncte"
      />
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Adauga Punctele</button>
  </form>
  
<br><br><br>

{%for team in teams: %}
{{team.username}} {{team.points}} puncte <br>
{%endfor%}

{% endblock %}