{% extends "base.html" %} {% block title %} Shop {% endblock %} 

{% block content%}

<br>
{% for product in products: %}
<div class="container">
    <div class="card">
      <div class="card-header">
        <img src= {{product.image}} alt="rover" />
      </div>
      <div class="card-body">
        <div class ="tags">
        {%if product.code.startswith('CONFIG'):%}
        <span class="tag tag-teal"> Configuratie</span> <br>
        {%else%}
        <span class="tag tag-teal"> Frame</span> <br>
        {%endif%}
        {%if product.stoc > 0:%}
        <span class="tag tag-green"> Disponibil</span> <br>
        {%else%}
        <span class="tag tag-red"> Indinponibil</span> <br>
        {%endif%}  
        </div>
          {{product.name}}
        </h4>
        <p>
          {{product.description}} 
        </p>
        <div class="user">
          <div class="user-info">
            <form method = "POST">
            <button class ="bn3637 bn36" name ='button' value = {{product.code}}> Adauga in cos</button>
            </form>
          </div>
        </div>
      </div>
    </div>



{% endfor %}


<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}
.container {
  display: flex;
  width: 400px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 10px;
}
.card {
  margin:0%; 
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 350px;
}
.card-header img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}
.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}

.tag-red{
  background-color: red;
}

.tag-green{
  background-color: green;
}


.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: blue;
}

.bn3637 {
  background-color: #47bcd4;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: white;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
}

.bn36 {
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn36:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

</style>



{% endblock%}
